* {
    background-color: #725AC1;
    color: white;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

body {
  height: 100vh;
  padding: 5% 15%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
  min-height: 30vh;
  min-width: 33%;
}

#task-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 5%;
    min-height: 30vh;
    min-width: 33%;
}

#add-todo {
    padding: 5% 5%;
    display: flex;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
}

input {
  display: flex;
  flex-direction: column;
  border: 2px white solid;
  -webkit-appearence: none;
}

@media(min-width: 321px){
    body {
        height: 100vh;
        padding: 5% 5%;
      }

}

h1 {
    text-align: center;
}


/* PRETTY STUFF */

.sort {
    border: 2px solid white;
    width: 45%;
    font-weight: 500;
}

/* FORM STYLING */

label {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.strike {
    text-decoration: line-through;
}

input[type=submit] {
    font-weight: 500;
    width: 45%;
}

input[type=submit]:hover {
    background: #ACA7D7;
}

input[type=text] {
    border: 2px solid white;
    background-color: #ACA7D7;
    padding: 2% 1%;
    margin: 5% 0%;
}

/* IMAGE STYLING */

button {
    background: transparent;
    border: none;
    font-weight: 700;
}

button:hover {
    background: #ACA7D7;
}

.checked, .delete {
    background: transparent;
    fill: white;
    width: 50px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

/* UL, LI, AND SPAN GRADIENT STYLING */

/* 

#0B0913
#161226
#221B39
#2D244D
#392D60
#443673
#4F3E87
#5B489A
#6651AD

*/

span {
    background-color: transparent;
    border: none;
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    padding: 2% 10%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.buttons-group {
    display: flex;
    background: transparent;
}

li:nth-child(17n + 1) {
    background-color: #0B0913;
    }

li:nth-child(17n + 2) {
background-color: #161226;
}

li:nth-child(17n + 3) {
background-color: #221B39;
}

li:nth-child(17n + 4) {
background-color: #2D244D;
}

li:nth-child(17n + 5) {
background-color: #392D60;
}

li:nth-child(17n + 6) {
background-color: #443673;
}

li:nth-child(17n + 7) {
background-color: #4F3E87;
}

li:nth-child(17n + 8) {
background-color: #5B489A;
}

li:nth-child(17n + 9) {
background-color: #6651AD;
}

li:nth-child(17n + 10) {
background-color: #5B489A;
}

li:nth-child(17n + 11) {
background-color: #4F3E87;
}

li:nth-child(17n + 12) {
background-color: #443673;
}

li:nth-child(17n + 13) {
background-color: #392D60;
}

li:nth-child(17n + 14) {
background-color: #2D244D;
}

li:nth-child(17n + 15) {
background-color: #221B39;
}

li:nth-child(17n + 16) {
background-color: #161226;
}

li:nth-child(17n + 17) {
background-color: #0B0913;
}
