body {
  font-family: monospace;
  font-weight: 700px;
  background-color: grey;
  height: 100vh;
}

h1 {
    text-align: center;
    font-size: 56px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
    border: black solid 2px;
    background-color: red;
}

#task {
  min-height: 50vh;
  min-width: 33%;
  margin: 20px;
}

#add-todo {
    margin: 20px;
    background-color: pink;
    display: flex;
}


h1 {
    text-align: center;
    font-size: 56px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
    border: black solid 2px;
    background-color: yellow;
}

#task {
  min-height: 50vh;
  min-width: 33%;
  margin: 20px;
}

#add-todo {
    margin: 20px;
    background-color: pink;
    display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 50vh;
}

input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 2px white solid;
  border-radius: 5px;
  -webkit-appearence: none;
  background-color: lightblue;
  font-size: 16px;
}

input[type=submit] {
  font-size: 20px;
}


@media(min-width: 321px){
  section {
      min-width: 100%;
  }

}
